.heroSection {
  padding-top: 36px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroTheme {
  width: 89px;
  height: 23.93px;

  border-radius: 3px;

  margin-left: auto;
  margin-right: auto;
  background: #4252d1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.16px;

  font-size: 12px;
  font-weight: 600;
  line-height: 17.95px;
  text-align: center;
}
.heroTitle {
  font-size: 52.73px;
  font-weight: 800;
  line-height: 64.59px;
  text-align: center;
  color: #ff3459;
  font-family: "Gilroy-Bold", sans-serif;
  /* font-family: "Gilroy-Extra", sans-serif; */
}
.heroDescriptionWrapper {
  display: flex;
  gap: 11.63px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.89px;
  text-align: left;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 23.72px;
}
.heroTextContainer {
  width: 76.26px;
  height: 27.53px;

  border-radius: 3.57px;

  transform: rotate(-3.49deg);
  background-color: #ff3459;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heroText {
  transform: rotate(3.49deg);
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;

  font-family: "Gilroy-Extra", sans-serif;

  /* padding: 7.09px 11.11px 4.47px 8.04px; */
}
.heroContant {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.72px;
  text-align: center;
  max-width: 328px;
}
/** DESKTOP STYLES */

@media screen and (min-width: 1040px) {
  .heroSection {
    padding-top: 92px;
    padding-bottom: 27px;
    padding-right: 56px;
    padding-left: 56px;
    align-items: start;
  }

  .heroTheme {
    width: 119px;
    height: 32px;
    margin-left: 0;
    border-radius: 5px;
    background: #4252d1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.9px;
    padding: 4px 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  .heroTitle {
    font-size: 77px;
    font-weight: 800;
    line-height: 94.33px;
    text-align: left;

    /* font-family: "Gilroy-Bold", sans-serif; */
    /* font-family: "Gilroy-Extra", sans-serif; */
  }
  .heroDescriptionWrapper {
    display: flex;
    gap: 16.27px;
    justify-content: center;

    text-align: left;
    font-family: "Gilroy-Regular", sans-serif;
    margin-bottom: 23.72px;

    font-size: 21.95px;
    font-weight: 600;
    line-height: 26.19px;
    text-align: left;
  }
  .heroTextContainer {
    width: 106.72px;
    height: 38.69px;

    border-radius: 5px;

    transform: rotate(-3.51 deg);
    background-color: #ff3459;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroText {
    font-size: 23.64px;
    font-weight: 800;
    line-height: 28.96px;
    text-align: left;

    transform: rotate(3.49deg);

    font-family: "Gilroy-Extra", sans-serif;

    /* padding: 7.09px 11.11px 4.47px 8.04px; */
  }
  .heroContant {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.64px;
    text-align: left;

    max-width: 419px;
  }
}
