/** HERO SECTION */
.heroSection {
  padding-top: 36px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.heroTheme {
  width: 89px;
  height: 23.93px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  background: #4252d1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.95px;
  text-align: center;
}

.heroTitle {
  font-size: 52.73px;
  font-weight: 800;
  line-height: 64.59px;
  text-align: center;
  color: #ff3459;
  font-family: "Gilroy-Bold", sans-serif;
}

.heroDescriptionWrapper {
  display: flex;
  gap: 11.63px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.89px;
  text-align: left;
  font-family: "Gilroy-Regular", sans-serif;
  margin-bottom: 23.72px;
}

.heroTextContainer {
  width: 76.26px;
  height: 27.53px;
  border-radius: 3.57px;
  transform: rotate(-3.49deg);
  background-color: #ff3459;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  transform: rotate(3.49deg);
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;
  font-family: "Gilroy-Extra", sans-serif;
}

.heroContant {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.72px;
  text-align: center;
  max-width: 328px;
}

.benefitSection {
  display: none;
}

.heroTextContainer {
  width: 76.26px;
  height: 27.53px;
  border-radius: 3.57px;
  transform: rotate(-3.49deg);
  background-color: #ff3459;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** TABLET STYLES */
@media only screen and (min-width: 768px) {
  .heroSection {
    padding-top: 102px;
    padding-bottom: 27px;
    align-items: start;
    margin-right: auto;
  }
  .heroTitle {
    font-size: 43px;
    font-weight: 800;
    line-height: 64.59px;
    text-align: center;
    color: #ff3459;
    font-family: "Gilroy-Bold", sans-serif;
  }
  .benefitSection {
    display: block;
  }
}
/** DESKTOP STYLES */
@media screen and (min-width: 1040px) {
  .heroSection {
    padding-top: 102px;
    padding-bottom: 27px;
    align-items: start;
  }

  .heroTheme {
    width: 119px;
    height: 32px;
    margin-left: 0;
    border-radius: 5px;
    gap: 6.9px;
    padding: 4px 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  .heroTitle {
    font-size: 77px;
    font-weight: 800;
    line-height: 94.33px;
    text-align: left;
  }

  .heroDescriptionWrapper {
    gap: 16.27px;
    text-align: left;
    margin-bottom: 23.72px;
    font-size: 21.95px;
    font-weight: 600;
    line-height: 26.19px;
  }

  .heroTextContainer {
    width: 106.72px;
    height: 38.69px;
    border-radius: 5px;
    transform: rotate(-3.51 deg);
    background-color: #ff3459;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroText {
    font-size: 23.64px;
    font-weight: 800;
    line-height: 28.96px;
    text-align: left;
    transform: rotate(3.49deg);
    font-family: "Gilroy-Extra", sans-serif;
  }

  .heroContant {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.64px;
    text-align: left;
    max-width: 427px;
  }
}
